.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #ccc; */
    height: 100vh;
}

#c-video {
    width: 100%;
    max-width: 840px;
    min-width: 440px;
    position: relative;
    /* object-fit: cover; */
    /* resize: both;
    overflow: auto;
    max-height: fit-content;
    max-width: fit-content; */
}

.buttons button {
    cursor: pointer;
}

.buttons {
    padding: 10px;
}

.orange-bar {
    height: 10px;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
}

.orange-juice {
    height: 10px; 
    background-color: orangered;
}

#player {
    width: 100% !important;
    height: auto !important;
}

#control-bar {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background: #000;
}

#player-status {
    display: flex;
    justify-content: center;
    position: absolute;
    flex-wrap: wrap;
    width: 100%;
    background: #000;
}

#timer,
#playBackState,
#getHeight,
#getWidth,
#getViewability,
#curtimetext,
#durtimetext {
    display: flex;
    justify-content: center;
    line-height: 38px;
    font-size: 14px;
    font-family: monospace;
    text-shadow: 1px 1px 0px black;
    color: white;
    flex: 5;
}

.section1,
.section2,
.section3 {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    font-size: 24px;
    left: 50%;
}