:root {
    --youtube-red: #FE0900;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    margin: 24px;
    overflow: hidden;
    transition: height 0.66s ease-out;
}

#c-video {
    width: 100%;
    max-width: 1600px;
    min-width: 400px;
    min-height: 500px;
    position: relative;
    overflow: hidden;
    transition: height 0.66s ease-out;
}

.buttons button {
    cursor: pointer;
}

.buttons {
    padding: 10px;
}

.orange-bar {
    height: 10px;
    top: 0;
    left: 0;
    width: 100%;
    /* background: #000; */
}

.orange-juice {
    height: 10px;
    background-color: orangered;
}

#player {
    width: 100% !important;
    /* height: auto !important; */
}

#control-bar {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background: #000;
}

#player-status {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #000;
}

#timer,
#playBackState,
#getHeight,
#getWidth,
#getViewability,
#currentTime,
#reSize {
    display: flex;
    justify-content: center;
    line-height: 38px;
    font-size: 14px;
    font-family: monospace;
    text-shadow: 1px 1px 0px black;
    color: white;
    flex: 5;
}

.section1,
.section2,
.section3 {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    font-size: 24px;
    left: 50%;
}

.video-progress {
    z-index: 1;
    position: relative;
    margin-top: -10px;
    /* height: 8.4px; */
    margin-bottom: 10px;
    background-color: #000;
}

progress {
    appearance: none;
    border-radius: 2px;
    width: 100%;
    height: 8.4px;
    pointer-events: none;
    position: absolute;
    top: 0;
    background-color: #000;
}

.seek {
    position: absolute;
    top: 0;
    width: 100%;
    cursor: pointer;
    margin: 0;
}

/* .seek:hover+.seek-tooltip {
    display: block;
} */

.input-container {
    display: flex;
    justify-content: space-evenly;
    margin: 24px;
}

.input-container input {
    width: 244px;
    height: 35px;
    border: 3px solid orange;
    border-radius: 12px;
    text-align: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    margin-top: 70px;
}

#searchBtn {
    width: 10%;
    border: 3px solid orange;
    border-radius: 12px;
}